{{ if or .IsHome .IsNode -}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}",
      "description": "{{ .Description }}",
{{ if .Page.Params.ThumbnailUrl }}
      "thumbnailUrl": "{{ .Page.Params.ThumbnailUrl | absURL }}",
{{ end }}
      "license": "{{ replace .Site.Copyright "{year}" now.Year | safeHTML }}"
   }
  </script>
{{- else if .IsPage -}}
{{- $author :=  or (.Params.author) (.Site.Author.name) -}}
{{- $org_name :=  .Site.Title }}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "articleSection": "{{ .Section }}",
      "name": "{{ .Title | safeJS }}",
      "headline": "{{ .Title | safeJS }}",
      "alternativeHeadline": "{{ .Params.lead }}",
      "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
      "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
      "isFamilyFriendly": "true",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      },
      "author" : {
        "@type": "Person",
        "name": "{{ $author }}"
      },
      "creator" : {
        "@type": "Person",
        "name": "{{ $author }}"
      },
      "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $author }}"
      },
      "copyrightHolder" : "{{ $org_name }}",
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "publisher":{
        "@type":"Organization",
        "name": {{ $org_name }},
        "url": {{ .Site.BaseURL }}
{{- if .Site.Params.logo -}}
        ,
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.logo | absURL }}",
            "width":"32",
            "height":"32"
        }
{{- end }}
      },
{{- if .Params.image }}
      "image": "{{ .Params.image | absURL }}",
{{- end }}
      "url" : "{{ .Permalink }}",
      "wordCount" : "{{ .WordCount }}",
      "genre" : [ {{ range $index, $tag := .Params.genre }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
      "keywords" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}]
    }
  </script>
{{- end -}}
