{{ range .Site.Menus.social }}
  {{ if .URL }}
    <a href="{{ .URL }}" class="social-link" target="_blank" rel="noopener" >
      <div class="icon">
        {{ if eq .Name "Twitter" }}
        <span>{{- partial "sidebar/icons/twitter.svg" . -}}</span>
        {{ else if eq .Name "GitHub" }}
        <span>{{- partial "sidebar/icons/github.svg" . -}}</span>
        {{ else if eq .Name "GitLab" }}
        <span>{{- partial "sidebar/icons/gitlab.svg" . -}}</span>
        {{ else if eq .Name "LinkedIn" }}
        <span>{{- partial "sidebar/icons/linkedin.svg" . -}}</span>
        {{ else if eq .Name "Instagram" }}
        <span>{{- partial "sidebar/icons/instagram.svg" . -}}</span>
        {{ else if eq .Name "Dribbble" }}
        <span>{{- partial "sidebar/icons/dribbble.svg" . -}}</span>
        {{ else if eq .Name "Codepen" }}
        <span>{{- partial "sidebar/icons/codepen.svg" . -}}</span>
        {{ else if eq .Name "Twitch" }}
        <span>{{- partial "sidebar/icons/twitch.svg" . -}}</span>
        {{ else if eq .Name "Email" }}
        <span>{{- partial "sidebar/icons/email.svg" . -}}</span>
        {{ else if eq .Name "RSS" }}
        <span>{{- partial "sidebar/icons/rss.svg" . -}}</span>
        {{ end }}
      </div>
    </a>
  {{end}}
{{ end }}
