<!-- preload the fonts (https://www.freecodecamp.org/news/web-fonts-in-2018-f191a48367e8/) -->
<link rel="preload" as="font" href="{{ relURL "assets/fonts/montserrat-v25-latin-regular.woff2" }}" type="font/woff2" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ relURL "assets/fonts/montserrat-v25-latin-regular.woff" }}" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ relURL "assets/fonts/montserrat-v25-latin-500.woff2" }}" type="font/woff2" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ relURL "assets/fonts/montserrat-v25-latin-500.woff" }}" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ relURL "assets/fonts/montserrat-v25-latin-600.woff2" }}" type="font/woff2" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ relURL "assets/fonts/montserrat-v25-latin-600.woff" }}" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ relURL "assets/fonts/raleway-v28-latin-regular.woff2" }}" type="font/woff2" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ relURL "assets/fonts/raleway-v28-latin-regular.woff" }}" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ relURL "assets/fonts/raleway-v28-latin-600.woff2" }}" type="font/woff2" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ relURL "assets/fonts/raleway-v28-latin-600.woff" }}" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ relURL "assets/fonts/raleway-v28-latin-italic.woff2" }}" type="font/woff2" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ relURL "assets/fonts/raleway-v28-latin-italic.woff" }}" type="font/woff" crossorigin="anonymous">

<style type="text/css" media="screen">
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('/assets/fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/montserrat-v25-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/assets/fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/montserrat-v25-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/assets/fonts/raleway-v28-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/raleway-v28-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* raleway-italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/raleway-v28-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/raleway-v28-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
</style>
