{{ partial "header" .}}

  {{- if or .Params.toc (and (eq .Params.toc nil) .Site.Params.toc) -}}
      {{ .TableOfContents }}
  {{- end -}}

  <h1 id="title">{{ if .Draft }}DRAFT: {{end}}{{ .Title }}</h1>
  {{ .Content }}

  <div class="blog-list">
    {{- $sortOrder := .Page.Params.Sort | default (.Site.Params.Sort | default "desc") -}}
    {{- $sortKey := .Page.Params.SortKey | default (.Site.Params.SortKey | default "Date") -}}
    {{- $pages := .Data.Pages -}}
    {{ range sort $pages $sortKey $sortOrder }}
      {{ partial "blog/item" .}}
    {{ end }}
  </div>

{{ partial "footer" .}}
