/* Light mode -- this is the default! */
:root {
    --color: #484848;
    --color-footer-border: #e3e3e3;
    --color-footer-content: #777777;
    --color-menu: #fcfcfd;
    --background-color: white;
    --background-color-code: #f0f0f0;
    --background-color-menu: #112f41;
    --link-color: #c05b4d;
    --link-color-hover: #fd3519; /* #a5473a */
    --link-color-bottom: #8494a4;
    --list-link-color: #336699;
    --font-family-header: "Montserrat", "Helvetica Neue", sans-serif;
    --font-family-main: "Raleway", "Helvetica Neue", sans-serif;
    --font-size-main: 16px;
}
